body{
    margin: 0;
    padding: 0;
}
.contain{
    max-width: 100%;
    max-height: auto;
    margin: 0 auto;
    background: white;
}
.header{
    margin: 0px;
    background: rgb(201, 219, 183);
    text-align: center;
    color: rgb(36, 44, 44);
    height: 50px;
    line-height: 50px;
}
.header1{
    margin-bottom: 10px;
    padding: 40px;
}
.header2{
    padding: 10px;
    margin-bottom: 10px;
}
.item2{
    max-width: 100%;
    display: flex;
}
.body{
    margin: 0px;
    background: rgb(201, 219, 183);
    color: rgb(36, 44, 44);
    
    height: 400px;
    text-align: center;
    line-height: 400px;
}
.body1{
    flex-grow: 1;
}
.body2{
    flex-grow: 4;
    background: rgb(201, 219, 183);
    margin-left: 10px;
    margin-right: 10px;
}
.body3{
    flex-grow: 1;
}
.footer{
    margin-top: 10px;
    height: 100px;
    background: rgb(201, 219, 183);
    line-height: 100px;
    text-align: center;
    color: rgb(36, 44, 44);
}
